In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import numpy as np

### merge和concat

#### 1.concat（数据拼接）

pd.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False,
          keys=None, levels=None, names=None, verify_integrity=False,
          copy=True)

In [2]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']})
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']})
result = pd.concat([df1, df2, df3],ignore_index=True)

In [3]:
result = pd.concat([df1, df2, df3], keys=['x', 'y', 'z'])

![](source/merging_concat_keys.png)

concat函数可按照其他轴的逻辑关系进行合并，默认join='outer'，还有一个可取的值是'inner'

#### 2.merge（数据库风格）

pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,
         left_index=False, right_index=False, sort=True,
         suffixes=('_x', '_y'), copy=True, indicator=False,
         validate=None)

In [6]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                       'key2': ['K0', 'K0', 'K0', 'K0'],
                       'C': ['C0', 'C1', 'C2', 'C3'],
                       'D': ['D0', 'D1', 'D2', 'D3']}) 

result = pd.merge(left, right, on=['key1', 'key2'])

In [7]:
left

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3

In [8]:
right

  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3

In [9]:
result

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

![](source/merging_merge_on_key_multiple.png)

In [24]:
result = pd.merge(left, right, how='left', on=['key1', 'key2'])

![](source/merging_merge_on_key_left.png)

| Merge方法   | 描述                      |
| :---------- | ------------------------- |
| left        | 只使用左DataFrame的键     |
| right       | 只使用右DataFrame的键     |
| outter      | 两DataFrame的键都使用     |
| inner(默认) | 只使用两DataFrame共有的键 |

### 多层索引(MultiIndex)

创建多层索引的DataFrame

In [5]:
arrays = [np.array(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux']),
           np.array(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'])]
df = pd.DataFrame(np.random.randn(8, 4), index=arrays,columns=list('ABCD'))
df

                A         B         C         D
bar one  0.075080 -0.808742 -0.882151 -1.144067
    two  0.661390 -0.812156  0.049702  0.509147
baz one  2.148355 -0.140860 -0.374971 -1.111997
    two -1.133120 -1.250044 -0.864255 -0.785792
foo one  0.683128  1.558249  1.582820 -1.177701
    two -0.253507 -0.115781 -2.123658 -1.419492
qux one -1.762099 -1.918070 -0.687573  0.575647
    two -1.145103  0.034056 -0.536567  0.235219

In [ ]:
df.loc['index1','column1']

层次索引

In [7]:
df.loc[('bar')]

           A         B         C         D
one  0.07508 -0.808742 -0.882151 -1.144067
two  0.66139 -0.812156  0.049702  0.509147

In [58]:
df.loc['bar']

            A         B         C         D
one -1.452120  0.357897 -0.683671 -1.336757
two  1.778585 -1.034553  1.804155 -1.392474

In [5]:
#数据读入
data_lm = pd.read_table('source/0430.txt',encoding='GBK')
data_tm = pd.read_table('source/0520.txt',encoding='GBK')
kuandai = pd.concat([data_lm,data_tm])
zhendi_map = pd.read_csv('zddyb.csv',encoding='GBK')
#匹配阵地对应表
kuandai = kuandai.merge(zhendi_map, 'left', on=['销售渠道','渠道明细'])

In [6]:
#创建中间表
kd_tm = kuandai.loc[kuandai['入网时间']//100 == 201805]#本月数据
kd_lm = kuandai.loc[(kuandai['入网时间']//100 == 201804)&(kuandai['入网时间'] % 100 <= 20)]#上月数据
ec_tm = kd_tm.loc[kd_tm['十六大渠道'] == '电子渠道']#本月电子渠道数据
ec_lm = kd_lm.loc[kd_lm['十六大渠道'] == '电子渠道']#上月电子渠道数据

In [7]:
#电子渠道的全省阵地分析
zd_tm = ec_tm.groupby('阵地')['统计值'].sum()
zd_lm = ec_lm.groupby('阵地')['统计值'].sum()
zd_fx = pd.concat([zd_lm,zd_tm],axis=1)
zd_fx.columns=['4月','5月']
zd_fx.sort_values('5月',ascending=False, inplace=True)
zd_fx

          4月      5月
地市网厅  8714.0  7357.0
地市分销  4221.0  4156.0
省网厅    601.0   543.0
外呼导购   320.0   336.0
装维毛细   202.0   232.0
省分销      NaN    15.0

In [8]:
#结合第一节的结果，进一步分析分公司的阵地情况
rst = ec_tm.groupby('分公司')['统计值'].sum()
rst.name = '发展量'
rst_huanbi = rst / ec_lm.groupby('分公司')['统计值'].sum() -1
rst_huanbi.name = "环比"
rst_zhanbi = rst / kd_tm.groupby('分公司')['统计值'].sum()
rst_zhanbi.name = "渠道占比"
result = pd.concat([rst,rst_huanbi,rst_zhanbi],axis=1)
result.sort_values('环比',ascending=False)

        发展量        环比      渠道占比
分公司
清远     32.0  0.684211  0.004692
湛江     13.0  0.444444  0.002500
中山   1270.0  0.392544  0.091144
肇庆     29.0  0.260870  0.005881
惠州    840.0  0.142857  0.075696
佛山    263.0  0.091286  0.012738
梅州     27.0  0.038462  0.004713
广州   1469.0  0.034507  0.030841
深圳   3647.0 -0.032113  0.085430
东莞   6193.0 -0.110329  0.268549
茂名      8.0 -0.111111  0.001870
珠海    445.0 -0.117063  0.073724
阳江      4.0 -0.200000  0.000576
韶关    151.0 -0.274038  0.024946
汕头     10.0 -0.411765  0.001327
汕尾      7.0 -0.416667  0.002309
江门     48.0 -0.421687  0.006345
河源      2.0 -0.600000  0.000546
云浮      1.0 -0.750000  0.000397
潮州     39.0 -0.824324  0.006424
揭阳      4.0       NaN  0.000659

In [9]:
tem1 = ec_tm.groupby(['分公司','阵地'])['统计值'].sum()
tem2 = ec_lm.groupby(['分公司','阵地'])['统计值'].sum()
zhendi_change = tem1.sub(tem2,fill_value=0)#每个地市阵地发展量变化，na值不能运算，因此不能直接减，要使用sub
zhendi_change=zhendi_change.groupby("分公司").agg(['idxmax','idxmin'])#每个地市增长最大及最小的阵地
zhendi_change.columns=['增长最快','增长最慢']
zhendi_change=zhendi_change.applymap(lambda x:x[1])
zhendi_change

     增长最快  增长最慢
分公司
东莞    省网厅  地市网厅
中山    省网厅  地市网厅
云浮    省网厅   省网厅
佛山   外呼导购  地市网厅
广州    省网厅  地市分销
惠州   地市网厅  装维毛细
揭阳    省网厅  外呼导购
梅州    省网厅  外呼导购
汕头    省网厅  地市网厅
汕尾   外呼导购  地市网厅
江门   外呼导购  地市分销
河源    省网厅  外呼导购
深圳   地市分销   省网厅
清远   外呼导购  装维毛细
湛江    省网厅  地市网厅
潮州    省网厅   省网厅
珠海   外呼导购  地市网厅
肇庆   地市网厅  外呼导购
茂名   外呼导购   省网厅
阳江   外呼导购   省网厅
韶关   外呼导购  地市分销

In [10]:
result = pd.concat([result,zhendi_change],axis=1)
result.sort_values('环比',ascending=False)

        发展量        环比      渠道占比  增长最快  增长最慢
分公司
清远     32.0  0.684211  0.004692  外呼导购  装维毛细
湛江     13.0  0.444444  0.002500   省网厅  地市网厅
中山   1270.0  0.392544  0.091144   省网厅  地市网厅
肇庆     29.0  0.260870  0.005881  地市网厅  外呼导购
惠州    840.0  0.142857  0.075696  地市网厅  装维毛细
佛山    263.0  0.091286  0.012738  外呼导购  地市网厅
梅州     27.0  0.038462  0.004713   省网厅  外呼导购
广州   1469.0  0.034507  0.030841   省网厅  地市分销
深圳   3647.0 -0.032113  0.085430  地市分销   省网厅
东莞   6193.0 -0.110329  0.268549   省网厅  地市网厅
茂名      8.0 -0.111111  0.001870  外呼导购   省网厅
珠海    445.0 -0.117063  0.073724  外呼导购  地市网厅
阳江      4.0 -0.200000  0.000576  外呼导购   省网厅
韶关    151.0 -0.274038  0.024946  外呼导购  地市分销
汕头     10.0 -0.411765  0.001327   省网厅  地市网厅
汕尾      7.0 -0.416667  0.002309  外呼导购  地市网厅
江门     48.0 -0.421687  0.006345  外呼导购  地市分销
河源      2.0 -0.600000  0.000546   省网厅  外呼导购
云浮      1.0 -0.750000  0.000397   省网厅   省网厅
潮州     39.0 -0.824324  0.006424   省网厅   省网厅
揭阳      4.0       NaN  0.000659   省网厅  外呼导购