In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_excel('测试数据.xlsx')
data.head()

,日期,来源,地市,服务内容
0,20180401,合伙人-移动新装,广州市,户再次致电反映前单2017012510000008关于信号的问题，已按照前单处理结果向用户解...
1,20180304,装维易购-宽带新装,深圳,户致电反映业务号码18024580390为何2016年10月和12月计费月共90元以及201...
2,20180204,O2O平台-IPTV新装,广州市,13380811380来电要求屏蔽本机的天翼视讯
3,20180104,合伙人-移动新装,东莞,13392077283用户来电要求取消其本机号码的20元包月流量包
4,20170904,装维易购-IPTV新装,深圳,复听录音流水号1610240000173087，对于客户投诉的问题，在通话中话务员承诺为户申...

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 4 columns):
日期      19 non-null int64
来源      19 non-null object
地市      19 non-null object
服务内容    19 non-null object
dtypes: int64(1), object(3)
memory usage: 688.0+ bytes

In [5]:
data['日期']=data['日期'].astype(str)

In [6]:
data['订单月份']=data['日期'].str.slice(0,6)
data['订单月份'].head()

0    201804
1    201803
2    201802
3    201801
4    201709
Name: 订单月份, dtype: object

In [7]:
data['地市']=data['地市'].str.slice(0,2)
data['地市'].head()

0    广州
1    深圳
2    广州
3    东莞
4    深圳
Name: 地市, dtype: object

In [8]:
data2 = data['来源'].str.split('-',expand = True)
data2.head()

       0       1
0    合伙人    移动新装
1   装维易购    宽带新装
2  O2O平台  IPTV新装
3    合伙人    移动新装
4   装维易购  IPTV新装

In [9]:
data2.columns = ['场景','业务类型']
data2.head()

      场景    业务类型
0    合伙人    移动新装
1   装维易购    宽带新装
2  O2O平台  IPTV新装
3    合伙人    移动新装
4   装维易购  IPTV新装

In [10]:
data = pd.concat([data,data2],axis =1)
data.head()

,日期,来源,地市,服务内容,订单月份,场景,业务类型
0,20180401,合伙人-移动新装,广州,户再次致电反映前单2017012510000008关于信号的问题，已按照前单处理结果向用户解...,201804,合伙人,移动新装
1,20180304,装维易购-宽带新装,深圳,户致电反映业务号码18024580390为何2016年10月和12月计费月共90元以及201...,201803,装维易购,宽带新装
2,20180204,O2O平台-IPTV新装,广州,13380811380来电要求屏蔽本机的天翼视讯,201802,O2O平台,IPTV新装
3,20180104,合伙人-移动新装,东莞,13392077283用户来电要求取消其本机号码的20元包月流量包,201801,合伙人,移动新装
4,20170904,装维易购-IPTV新装,深圳,复听录音流水号1610240000173087，对于客户投诉的问题，在通话中话务员承诺为户申...,201709,装维易购,IPTV新装

In [16]:
data['服务内容']=' '+data['服务内容']+' '

In [18]:
data['电话号码']=data['服务内容'].str.findall(r'\D(1\d{10})\D')
data['电话号码']

0                []
1     [18024580390]
2     [13380811380]
3     [13392077283]
4                []
5     [18923617109]
6     [18923207109]
7     [18823607109]
8                []
9     [18144817679]
10    [18926316062]
11    [18926116062]
12    [18933316062]
13    [13392077283]
14    [13827879934]
15    [18923607109]
16    [18923554640]
17    [18922454641]
18    [18923479079]
Name: 电话号码, dtype: object

In [21]:
data['电话号码']=data['电话号码'].str.join('/')

In [25]:
key = ['订单月份', '地市','场景', '业务类型', '电话号码']
data[key]

      订单月份  地市     场景    业务类型         电话号码
0   201804  广州    合伙人    移动新装
1   201803  深圳   装维易购    宽带新装  18024580390
2   201802  广州  O2O平台  IPTV新装  13380811380
3   201801  东莞    合伙人    移动新装  13392077283
4   201709  深圳   装维易购  IPTV新装
5   201505  广州  O3O平台    移动新装  18923617109
6   201405  佛山    合伙人  IPTV新装  18923207109
7   201801  东莞   装维易购    宽带新装  18823607109
8   201705  中山  O4O平台    移动新装
9   201812  惠州    合伙人    移动新装  18144817679
10  201811  江门   装维易购    宽带新装  18926316062
11  201803  珠海  O2O平台  IPTV新装  18926116062
12  201804  汕头    合伙人    移动新装  18933316062
13  201405  揭阳   装维易购  IPTV新装  13392077283
14  201801  广州  O3O平台    移动新装  13827879934
15  201705  汕尾    合伙人  IPTV新装  18923607109
16  201603  广州   装维易购    宽带新装  18923554640
17  201811  茂名  O4O平台    移动新装  18922454641
18  201803  阳江    合伙人    移动新装  18923479079